{% extends "base.html" %}

{% block browsertitle %}EARC: About{% endblock %}

{% block content %}

<div class="row">
	<h2>About the Emergency Amateur Radio Club</h2>
	<blockquote class="earc">
		<p>To promote the highest standards in the transmission and reception of radio communication...</p>
		<p align="right">&mdash;From the EARC Charter</p>
	</blockquote>
<p>Since 1964, the <strong>Emergency Amateur Radio Club</strong> has had as its mission to support the Amateur Radio Service in Hawaii. As one of the largest clubs in the state, we support all aspects of amateur radio, with particular interest in public service and emergency communications.</p>

<p>Our guiding missions is ensuring the continued growth of amateur radio and of amateur radio operators, through training, skill development, and fellowship.</p>
<ul>
	<li>We provide <a href="http://www.earchi.org/education">licensing classes and testing sessions</a> for prospective hams to get their entry-level Technician license, and for aspiring hams to upgrade to General or Amateur Extra.</li>
	<li>We <a href="{% url 'nets' %}">meet on the air nightly</a> at 7:30 p.m. most nights to keep our radio skills current and to encourage newer hams to actively participate in the world of amateur radio.</li>
	<li>We meet in person regularly over the course of the year, via our monthly general membership meetings and social events such as Field Day throughout the year, to build relationships and share knowledge.</li>
	<li>We maintain our repeater network as a larger service to the amateur radio community.</li>
	<li>We encourage our members to be involved in public service events and train themselves to be available in time of emergency.</li>
</ul>

<p>The Emergency Amateur Radio Club is a 501(c)(3) non-profit organization. All of our activities are open to the public, and we welcome anyone who is interested, licensed or not. We invite you to join us, support our mission, and experience the excitement and sense of accomplishment that comes from ham radio.</p>

</div>




{% endblock %}