{% extends "base.html" %}

{% block browsertitle %}EARC: About{% endblock %}

{% block content %}

<div class="row">
	<h2>About the Emergency Amateur Radio Club</h2>
	<blockquote class="earc">
		<p>To promote the highest standards in the transmission and reception of radio communication...</p>
		<p align="right">&mdash;From the EARC Charter</p>
	</blockquote>
<p>Since XXXX, the Emergency Amateur Radio Club had had as its mission to support the Amateur Radio Service in Hawaii. As one of the largest clubs in the state, we support all aspects of amateur radio, with particular interest in public service and emergency communications.</p>
<p>One of our goals is ensuring the continued growth of amateur radio and of amateur radio operators, through training, skill development, and fellowship. We provide licensing classes and </p>

</div>




{% endblock %}