{% extends "base.html" %}
{% load static %}

{% block browsertitle %}EARC - End Fed 6-40 Meter Matchbox Antennas{% endblock %}

{% block content %}
<h2 class="title">EARC End-Fed Matchbox Antennas</h2>

<p>In XXXX, a couple of hams in our fundraising committee and antenna group, Richard Hardy KH6HNL (sk) and Chuck Hanebuth KH7HNL devised an easily-built 9:1 UNUN toroid matching transformer that takes the convenience of an end-fed dipole and brings the SWR down to the range where an antenna tuner can properly tune the antenna.</p>

<p>This project can be done by any radio amateur who can get the necessary parts to assemble it, and we freely publish the <a href="{% static 'pdf/endfed6_40.pdf' %}">assembly instructions</a> on our site.</p>


{% endblock %}