{% extends "base.html" %}

{% block browsertitle %}EARC - Contact Us{% endblock %}

{% block content %}

<div class="card">
	<div class="card-header">
		<span class="h2 title">Contact Us</span>
	</div>
	<div class="card-body">
		<form action="{% url 'contact' %}" method="post" id="contact_form">
			{% csrf_token %}
			<table class="table">
				{{form.as_table}}
				<th></th>
				<td>
					<input class="btn-lg btn-primary" type="submit" value="Submit" />
					<input class="btn-lg btn-secondary" type="reset" value="Reset" />
				</td>
			</table>
		</form>

	</div>
</div>

{% endblock %}