{% extends "base.html" %}
{% load static %}

{% block browsertitle %}EARC - Field Day{% endblock %}

{% block content %}
<h2 class="title">Field Day</h2>

<p>ARRL Field Day for 2019 will be held Saturday and Sunday, June 22 and June 23, 2019 (the fourth full weekend in June). Times and places to be determined. Watch this page for more details as the event comes up.</p>

<h4>What is Field Day?</h4>
<p>This is a free, national event sponsored by the ARRL (American Radio Relay League, the National Organization of Radio Amateurs in the U.S.). Several hundred clubs nationwide participate in this event, which serves as a practical application of emergency operations, a fun contest, and a public service event for Amateur Radio. Sometimes served agencies, such as the National Weather Service (SkyWarn), the American Red Cross,  and others join in with displays, etc.  For Amateur Radio operators, it is a fun get-together as well as an opportunity to polish communications skills vital in the event of an emergency.</p>

<p>So come out and join us, whether you're an old time ham or newly licensed or just want to know more about the Amateur Radio Service. It's a great opportunity to see hams in action.</p>

<img src="{% static 'images/field_day/field_day_1.jpg' %}" style="width:50%;" class="img-thumbnail" />


{% endblock %}