{% extends "base.html" %}
{% load md2 %}

{% block browsertitle %}Welcome to the Emergency Amateur Radio Club{% endblock %}

{% block content %}

<div class="jumbotron text-light" style="background-color: green;">
	<h1 class="title">Welcome to the Emergency Amateur Radio Club!</h1>
	<p class="lead">We are an ARRL affiliated club, committed to supporting the amateur radio hobby. Whether you are newly licensed, recently upgraded, or just getting back into the hobby...this club is your start to life-long friendships and an exciting hobby.</p>
</div>

<div class="card mb-2">
	<div class="card-header">
		<span class="h2 title">Announcements</span>
	</div>
</div>

{% if announcements %}
<div class="row">
    {% for announcement in announcements %}
	<div class="col-sm-6 mb-2">
		<div class="card">
			<div class="card-header">
				<span class="h4 title">{{announcement.title}}</span>
			</div>
			<div class="card-body">
                {{announcement.text|markdown}}
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endif %}

{% endblock %}