{% extends "base.html" %}

{% block browsertitle %}Welcome to the Emergency Amateur Radio Club{% endblock %}

{% block content %}

<div class="jumbotron text-light" style="background-color: green;">
	<h1 class="title">Welcome to the Emergency Amateur Radio Club!</h1>
	<p class="lead">We are an ARRL affiliated club, committed to supporting the amateur radio hobby. Whether you are newly licensed, recently upgraded, or just getting back into the hobby...this club is your start to life-long friendships and an exciting hobby.</p>
</div>

<div class="row">
	<div class="col-sm-6 mb-2">
		<div class="card">
			<div class="card-header">
				Next Meeting
			</div>
			<div class="card-body">
				<h5 class="card-title">Next General Membership meeting</h5>
				<p class="card-text">Next meeting is: No meeting in June. See you at Field Day.</p>
				<p class="card-text">Location: Field Day info.</p>
				<p class="card-text">TOPIC: TBA</p>
				<p class="card-text">This is a Pot Luck event. Please bring something to share with everyone. Thanks. See you at the meeting.</p>
			</div>
		</div>
	</div>

	<div class="col-sm-6 mb-2">
		<div class="card">
			<div class="card-header">
				Upcoming Events
			</div>
			<div class="card-body">
				<h5 class="card-title">Field Day 2018</h5>
				<p class="card-text">Field Day is June 22-24, 2018. We will be joining with the Koolau Amateur Radio Club at Kualoa Beach Park.</p>
				<a class="card-link" href="http://www.earchi.org/event_fieldday.html">Click here for Field Day Info</a>
			</div>
		</div>
	</div>

	<div class="col-sm-6 mb-2">
		<div class="card">
			<div class="card-header">
				Repeater Updates
			</div>
			<div class="card-body">
				<h5 class="card-title">DMR Brandmeister is here!</h5>
				<p class="card-text">The Club has purchased two Motorola SLR5700 DMR repeaters. The first of these two repeaters was installed on May 5th, 2018 at our Maunakapu site replacing the Analog UHF repeater there on 444.100.</p>
				<p class="card-text">Since turning it on there has been quite a bit of activity from users and we are happy to see it going so well. Click here to the repeaters section where you find a link describing the setup and talkgroups for this repeater.</p>
			</div>
		</div>
	</div>
	
	<div class="col-sm-6 mb-2">
		<div class="card">
			<div class="card-header">
				Membership Updates
			</div>
			<div class="card-body">
				<h5 class="card-title">Dues</h5>
				<p class="card-text">Dues can be via PayPal or via our club P.O. Box (no cash please), or in person to the treasurer at our General Membership meeting.</p>
				
				<h5 class="card-title">New members always welcome!</h5>
				<p class="card-text">Click the link below to apply for membership.</p>
				<a class="card-link" href="{% url 'member_new_form' %}">Application form</a>
			</div>
		</div>
	</div>
	
</div>


{% endblock %}