{% extends "base.html" %}

{% block browsertitle %}EARC - Links{% endblock %}

{% block content %}
<div class="card mb-2">
	<div class="card-header">
		<span class="h2 title">Useful Links</span>
	</div>
</div>

{% for group in groups %}
<div class="card mb-2">
	<div class="card-header">
		<span class="h4 title">{{group.name}}</span>
	</div>
	<div class="card-body">
		<dl>
			{% for link in group.link_set.all %}
			<dt><a href="{{link.url}}"><b>{{link.name}}</b></a></dt>
			<dd>
				{{link.description}} 
				<span class="text-muted"><i>{{link.url}}</i></span>
			</dd>
			{% endfor %}
		</dl>
	</div>
</div>
{% endfor %}

{% endblock %}