{% extends "base.html" %}

{% block browsertitle %}EARC - Meetings{% endblock %}

{% block content %}
<h2 class="title">Meetings</h2>
<h4>General Membership Meetings</h4>
<p>EARC General Membership Meetings are held every month except during June (to encourage members to attend Field Day) and December (for the holiday season). We elect our officers for the upcoming year at the October meeting and have a holiday party in November.</p>

{% if next_meeting %}
<p>Our next General Membership Meeting will be <b>{{next_meeting.date_time | date:"l, F d, Y"}}</b> at <b>{{next_meeting.date_time | time:"f a"}}</b> at <b>{{next_meeting.meeting_place.venue_name }}</b>.</p>
<p>Talk-in frequencies are <b>146.880(-)</b> primary, and <b>146.520</b> backup.</p>

<address>
	<strong>{{next_meeting.meeting_place.venue_name }}</strong><br />
	{{next_meeting.meeting_place.address}}<br />
	{{next_meeting.meeting_place.city}}, {{next_meeting.meeting_place.state}} {{next_meeting.meeting_place.zip_code}}
</address>
{% else %}
<p>Our next General Membership Meeting has yet to be determined. Please check back later.</p>
{% endif %}

{% if next_meeting_map_url %}
<iframe width="600" height="450" frameborder="0" style="border:0" 
	src="{{next_meeting_map_url}}" allowfullscreen></iframe>
{% endif %}

<p>Upcoming meetings:</p>
<ul>
	{% for meeting in upcoming_meetings %}
	<li>{{meeting.date_time|date:"l, F d, Y"}}, {{meeting.date_time|date:"f a"}} at {{next_meeting.meeting_place.venue_name}}</li>
	{% empty %}
	<li>To be determined</li>
	{% endfor %}
</ul>




{% endblock %}