{% extends "base.html" %}

{% block browsertitle %}EARC - Meetings{% endblock %}

{% block content %}
<h2>General Membership Meetings</h2>
<p>EARC General Membership Meetings are held every month except during June (to encourage members to attend Field Day) and December (for the holiday season).</p>

<p>Our next General Membership Meeting will be {{next_meeting.date_time | date:"l, F d, Y"}} at {{next_meeting.date_time | time:"f a"}} at {{next_meeting.meeting_place.venue_name }}.</p>




{% endblock %}