{% extends "base.html" %}
{% load static %}

{% block browsertitle %}EARC - Edward Dung, NH6WI (SK){% endblock %}

{% block content %}

<div class="card">
	<div class="card-header">
		<span class="h2 title">Edward Dung, NH6WI (SK)</span>
	</div>
	<div class="card-body">
		<p>Regular participants in the EARC nightly net in the 1990s and 2000s recall fondly the voice of Edward Dung, NH6WI (sk) who provided a daily weather report for those checked into the net. His is a story of perseverance and courage against physical disabilities.</p>
		
		<p>The EARC still maintains NH6WI's weather aggregation page, www.nh6wi.com, which he coded himself while he was still with us. Although the images have been updated, we have continued to keep the same look and feel. It is still a great resource for all things weather-related in the Aloha State.</p>
		
		<p><a class="btn btn-primary" href="http://www.nh6wi.com">Go to www.nh6wi.com</a></p>
	</div>
	<div class="card-header">
		<span class="h4 title">About NH6WI</span>
	</div>
	<div class="card-body">
		<p>From the Wireless Dispatch, Spring 2012 edition<br />
		By Keith Higa, WH7GG, Wireless Dispatch Editor Emeritus:</p>
		<blockquote>
			<img src="{% static 'images/nh6wi.jpg' %}" class="thumbnail float-right ml-2" width="50%" height="auto" />
			<p>Edward Dung, NH6WI, a longtime member of the EARC, a regular participant on the EARC net, and for many years the source of the net’s nightly on-air weather report, passed away on February 25 at the age of 55.</p>
			<p>Edward was an example of how people with disabilities could still find rewards in the world of ham radio. Afflicted with a condition that confined him to a motorized wheelchair and limited the use of his hands and fingers, he could still use his 2 meter radio by means of a remote push-to-talk switch.</p>
			<p>Edward was originally licensed as a Novice as WH6CGG, after which he upgraded to a Technician in April 1990, when he received his current callsign of NH6WI.</p>
			<p>Perhaps Edward’s biggest contribution to the local world of ham radio was his regular weather report given during the EARC nightly club net at 7:30 p.m. each night, after the check-in sequence. Each night, he would watch the evening news weather forecast and deliver his report entirely from memory.
			Always beginning his report, “Good evening to all from a ______ little grass shack across from the Iolani School gym…”(his choice of adjective hinting at the current weather conditions) and ending it with “Until we meet again, good night, and good time,” he filled the time in between with all manner of weather information, including not just the weather forecast, but also tides, surf, UV index, and sunrise and sunset (or, the sun “waking up” and “going to sleep,” as Edward put it).</p>
			<p>He would also be sure to inform the net of any active tropical storms out in the Pacific. So detailed was his report that he would also inform the net if box jellyfish were due to arrive on the south shores following a full moon.</p>
			<p>He also provided regular weather reports for the Army MARS nets as well.</p>
			<p>Also among his accomplishments was creating a website (http://www.nh6wi.com) that aggregated various sources of island weather information from around the web, and featured a pair of animated dancing hula girls at the top. He taught himself HTML, the main programming language of the World Wide Web, by studying the source code on the website of Ron Hashiro, AH6RH.</p>
			<p>Ron remembers his high school classmate fondly: “Reporting the weather gave purpose to Edward’s life. He was mobility restricted – yet he overcame his limitations, and his ham radio connected him with a stream of friends both old and new.”</p>
			<p>Edward’s uncle, Edmund Lee, NH7ON, remembers him as being intellectually active and inquisitive. He also had an interest in music composition, and had the honor of having one of his songs sung by the late Loyal Garner.</p>
			<p>Steve Hall, NH7ZD, and Gloria Hall, WH7BTE, lived close to Edward and would visit him and his mother often, sometimes bringing guests along. They, along with other members of the EARC board, presented Edward with an appreciation plaque in 2007 for all his work on the nightly net weather reports. Gloria remembers that moment: “I will never forget how happy he was and his eyes were sparkling and happy and that look on his face was so happy and content and I will never forget that look; it was priceless.”</p>
			<p>A memorial service was held for Edward at March 10 at 12:30 p.m. at the Chapel of Flowers at Nuuanu Memorial Park Mortuary.</p>

		</blockquote>
	</div>
		
	</div>
</div>

{% endblock %}