{% extends "base.html" %}

{% block browsertitle %}EARC - Officers{% endblock %}

{% block content %}
<h2>Officers</h2>

<table class="table table-striped">
	<thead class="thead-light">
		<tr>
			<th scope="col">Title</th>
			<th scope="col">Name</th>
			<th scope="col">Callsign</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">President</th>
			<td>{{president.full_name}}</td>
			<td>{{president.callsign}}</td>
		</tr>
		<tr>
			<th scope="row">Vice-President</th>
			<td>{{vice_pres.full_name}}</td>
			<td>{{vice_pres.callsign}}</td>
		</tr>
		<tr>
			<th scope="row">Secretary</th>
			<td>{{secretary.full_name}}</td>
			<td>{{secretary.callsign}}</td>
		</tr>
		<tr>
			<th scope="row">Treasurer</th>
			<td>{{treasurer.full_name}}</td>
			<td>{{treasurer.callsign}}</td>
		</tr>
		{% for director in directors %}
		<tr>
			<th scope="row">Director</th>
			<td>{{director.full_name}}</td>
			<td>{{director.callsign}}</td>
		</tr>	
		{% endfor %}		
	</tbody>
</table>


{% endblock %}