{% extends "base.html" %}

{% block browsertitle %}EARC - Repeaters{% endblock %}

{% block content %}
<h2 class="title">EARC Repeater Network</h2>
<p>One of the chartered purposes of the EARC is to operate repeaters for the use of the greater amateur radio community in Hawaii. To that end, our dues revenue and fundraising efforts go in part to investing in our repeater network.</p>
<p>Thanks to a linking project in 2016, two of our repeater sites (Mauka Kapu and Olomana) are now Internet linked, so that keying up any of the repeaters sends the audio to both repeaters. We hope to bring the Laie repeater into the network soon.</p>


{% endblock %}