{% extends "base.html" %}

{% block browsertitle %}EARC - Repeater Rules and Regulations{% endblock %}

{% block content %}

<div class="card mb-2">
	<div class="card-header">
		<span class="h2 title">Repeater Rules and Regulations</span>
	</div>
	<div class="card-body">
		<p>We provide access to our <a href="{% url 'repeaters' %}">repeater system</a> as a service to the larger amateur radio community, and we not only welcome but actively encourage use of our repeater system. However, as the control operators, we are accountable to the FCC for the proper use of the repeaters. In order to provide a friendly, welcoming environment for all, we ask that all users of the EARC repeaters abide by the following rules.</p>
		<div class="alert-error">
    		<p><b>Use of the repeaters constitutes agreement to these rules, regardless of whether or not you are an EARC member. Our control operators, repeater trustees, and Board of Directors reserve the right to take appropriate action against any amateur who fails to abide by these rules, or who violates Part 97 amateur radio regulations using our repeaters. This includes, but is not limited to, verbal or written warnings, suspensions, permanent bans, and/or filing a formal complaint with the FCC. EARC members who violate these rules also risk having their membership revoked without refund.</b></p>		    
		</div>

			
		<ol>
			<li>Monitor the repeater to become familiar with any peculiarities in its operation. This is a good suggestion but don't be afraid to jump in and "get your feet wet" and enjoy the fun.</li>
			<li>To initiate contact, simply indicate that you are on frequency. For example, "This is WH6CZB monitoring." Or, "This is WH6CZB listening." It is very likely that you will get a return call.</li>
			<li>Identify legally. You must identify at the termination of your transmission and at least once each ten minutes. This also includes "kerchunking", which is not desirable practice and in fact is illegal operation. Also the practice of keying the repeater, without identifying, after a QSO has terminated to show a final acknowledgement is illegal as well.</li>
			<li>In calling another station, it is conventional to state the station to be called first, then your call, e.g., "WH6CZB, this is KH6ABC calling."</li>
			<li>Pause for the courtesy tone after each transmission. If the courtesy tone is not present, pause anyway. This allows someone with emergency traffic; or someone wishing to make a call on the repeater; or other operators wishing to enter the exchange to be heard.</li>
			<li>When you have an emergency and need to use the repeater, and it is in use, wait for a pause between exchanges and then use the pro-words "BREAK BREAK" and identify yourself. The other stations should acknowledge and stand by for you to complete your emergency transmission. On the repeater, the word "BREAK" should NOT be used to just enter the conversation.</li>
			<li>When you wish to join an ongoing conversation, wait for the pause between exchanges and then say, your callsign--"KH6ABC", or your suffix--"ABC". Then wait for one of the other stations to acknowledge you.</li>
			<li>Keep your transmissions short and thoughtful, especially during the morning, noon, and evening drive times when more operators may need to use the repeater.</li>
			<li>Remember, our club has several two-meter repeaters. If one repeater is active and you need to contact someone, or you expect someone to contact you, try the other repeater. With the new rigs having scan capabilities it is easy to monitor several frequencies at the "same" time. Choosing a simplex frequency among friends has gained some popularity. This practice frees-up the repeaters as well as making your conversation a bit more private like</li>
			<li>If your conversation is going to be long and the other station is within direct contact range, go to a simplex frequency. It is "more" like a private conversation than what the repeater produces. This also permits other stations, who require the repeater to make a contact.</li>
			<li>Use the minimum amount of power necessary to maintain communications. However, you deserve to have a clear communication. If possible, don't subject your contact to a noisy transmission if you can clear it up with a little more power. Some communications are marginal only because one operator likes to use the absolute minimum power.</li>
			<li>Don't break into a contact unless you have something to add. You wouldn't walk down a street and just enter into a group's conversation just because you heard them say something that reminded you of a "cute" story.</li>
			<li>Respond to calls for assistance or just conversation. Our repeater is known as a friendly repeater. Let's keep it that way.</li>
		</ol>
	</div>
</div>

{% endblock %}