<!DOCTYPE html>
<html lang="en">
	
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% endblock %}</title>
		<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/base.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="row appform-header">
				<img src="/static/images/EARC_160x125.gif" id="logo" />
				<span id="title-block">
					<p style="margin-bottom: 0;">EARC Membership</p>
					<h1 style="margin-top: 0;">{% block title2 %}{% endblock %}</h1>					
				</span>
			</div>
			
			<div class="row">
				{% block content %}{% endblock %}
			</div>
			
		</div>
		
	</body>		


</html>