{% extends "base.html" %}

{% block browsertitle %}Emergency Amateur Radio Club - Member Portal{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">
        <span class="h2 title" id="title">Welcome to the EARC Member Portal!</span>
    </div>
    <div class="card-body">
        <p>The EARC Member Portal manages all membership-related activities. You can sign up for membership, pay your dues, and see your membership status, all in one place.</p>
        <p>The EARC membership committee maintains this site. If you have any questions, please direct them to XXXXX.</p>
        <div class="row">
            <div class="col-2">
                <a id="new_member_btn" class="btn btn-md btn-primary" href="{% url 'member_new_form' %}">New Member</a>
            </div>
            <div class="col-10">
                <p>New to the EARC? Sign up for membership by filling out this form. You will then receive further instructions on how to activate your membership.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <a id="login_btn" class="btn btn-md btn-primary" href="{% url 'site_login' %}">Login</a>
            </div>
            <div class="col-10">
                <p>Already an EARC member with a user ID and password? Log in here to manage your account details.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <a id="member_list_btn" class="btn btn-md btn-primary" href="{% url 'member_list' %}">Member List</a>
            </div>
            <div class="col-10">
                <p>Not sure if you are listed on our membership rolls? See a list of active members here (name, callsign and city only).</p>
            </div>
        </div>

    </div>
</div>

{% endblock %}