{% extends "base.html" %}

{% block browsertitle %}EARC - Profile for {{member.callsign}}{% endblock %}

{% block content %}

<div class="card mb-2">
	<div class="card-header">
		<div class="row">
			<div class="col h2 title">
				{{member.first_name}} {{member.last_name}}, {{member.callsign}}
			</div>
			<div class="col text-right">
				<a class="btn btn-md btn-primary" href="{% url 'member_update' member.id %}">Update member info</a> 
				<a class="btn btn-md btn-primary" href="{% url 'password_change' %}">Change password</a></a>			
			</div>
		</div>
	</div>
</div>

<div class="card mb-2">
	<div class="card-header">
		<span class="h4 title">Membership</span>
	</div>
	<div class="card-body">
		<p class="card-text">Membership status:
			{% if member.membership_status == 'P' %}
			Prospective member 
			{% elif member.membership_status == 'C' %}
			Current member
			{% elif member.membership_status == 'LR' %}
			Lapsed member - need to renew 
			{% elif member.membership_status == 'LN' %}
			Lapsed more than one year - re-enroll as new
			{% endif %}
			<a class="btn btn-sm btn-primary" href="{% url 'pay_dues_paypal' member.id %}">
				Pay {% if member.membership_status == 'C' %}{{member.membership_expires.year|add:"1"}}{% endif %} dues now</a>
		</p>
		{% if member.membership_expires %}
		<p class="card-text">Membership expires: {{member.membership_expires}}</p>
		{% endif %}
		
		{% if member.duespayment_set.all %}
		<table class="table table-sm table-striped">
			<thead class="thead-light">
				<tr>
					<th>Date received</th>
					<th>Membership year</th>
					<th>Payment method</th>
					<th>Amount</th>
				</tr>
			</thead>
			<tbody>
				{% for payment in member.duespayment_set.all %}
				<tr>
					<td>{{ payment.payment_date }}</td>
					<td>{{ payment.membership_year }}</td>
					<td>{{ payment.payment_method }}</td>
					<td>{{ payment.amount }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
		
	</div>
</div>


<div class="row">
	<div class="col-4 mb-2">
		<div class="card">
			<div class="card-header">
				<span class="h4 title">License</span>
			</div>
			<div class="card-body">
				<p class="card-text">Class: {{member.get_license_type_display}}</p>
				<p class="card-text">Expires: {{member.expiration_date}}</p>
			</div>
		</div>
	</div>
	<div class="col-4 mb-2">
		<div class="card">
			<div class="card-header">
				<span class="h4 title">Contact Info</span>
			</div>
			<div class="card-body">
				<p class="card-text">{{member.address}}<br />
					{{member.city}}, {{member.state}} {{member.zip_code}}</p>
				<p class="card-text">{{member.phone}}</p>
				<p class="card-text"><a href="mailto:{{member.email_address}}">{{member.email_address}}</a></p>
			</div>
		</div>
	</div>
	<div class="col-4 mb-2">
		<div class="card">
			<div class="card-header">
				<span class="h4 title">Options</span>
			</div>
			<div class="card-body">
				<p class="card-text">Add me to the club mailing list: <b>{% if member.mailing_list %}Yes{% else %}No{% endif %}</b></p>
				<p class="card-text">Wireless Dispatch online: <b>{% if member.wd_online %}Yes{% else %}No{% endif %}</b></p>
				<p class="card-text">ARRL Member: <b>{% if member.arrl_member %}Yes{% else %}No{% endif %}</b></p>		
			</div>
		</div>
	</div>
</div>



{% endblock %}