{% extends "base.html" %}

{% block browsertitle %}EARC - Thanks for your application{% endblock %}

{% block content %}

<div class="card">
	<div class="card-header">
		<span class="h2 title">Thanks for your interest in the EARC, {{name}}!</span>
	</div>
	<div class="card-body">
		<p>An account has been created on the member website. You will receive an email shortly with instructions on how to activate your account.</p>
		<p><b>You must activate your account before you can log in. If you do not activate your account within seven days, your account will be deleted and you will need to apply again.</b></p>

		<p>If you do not receive the email, please contact the webmaster.</p>
	</div>
</div>


{% endblock %}

