{% extends "base.html" %}
{% load static %}

{% block browsertitle %}EARC - Pay Your EARC Dues{% endblock %}


{% block content %}

	<h2>Pay Your EARC Dues</h2>
	<p>You can pay your EARC dues via PayPal, or you can send a check or money order for your dues (payable to EARC) to the following address:</p>
	<address>
		Emergency Amateur Radio Club<br />
		PO Box 30315<br />
		Honolulu, HI  96820-0315		
	</address>
	
	

	<form action="{% url 'member_new_form' %}" method="post" id="member_form">
		{% csrf_token %}
		
		<!-- to be filled in -->

	</form>


{% endblock %}