
body {
	margin: 0;
	font-family: 'Segoe UI', 'Verdana', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
	background-color: #EFE;
}

nav {
	background-color: #040;
}

blockquote.earc {
	border-left: 3px solid green;
	padding: 1em;
	font-style: italic;
}

.card .card-header {
	background-color: #9F9;
	font-size: 1.2rem;
	font-weight: 400;
}

#header {

	border-bottom: 1px solid black; 
	margin-bottom:2rem;
}

#footer {
	margin-top: 4em;
	background-color: #040;
	color: #fff;
}


#title-block p.subtitle {
	font-style: italic;
}

#member_form th {
	width:40%;
}

.title {
	font-family: 'Impact', 'Anton', sans-serif;
}

.navbar-brand {
	font-family: 'Impact', 'Anton', sans-serif;
	font-size: 1.5em;
}

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-error hr {
  border-top-color: #e4b9c0;
}
.alert-error .alert-link {
  color: #843534;