{% load static %}
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{% block browsertitle %}{% endblock %}</title>
		<link href="https://fonts.googleapis.com/css?family=Anton|Roboto" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
		<link href="{% static 'homepage/base.css' %}" rel="stylesheet">
	</head>
	<body>

        {% include "menu.html" %}

		<div class="container">
			<div class="row media" id="header">
				<img class="img-fluid float-lg-left" src="{% static 'images/EARC_160x125_transparent.gif' %}" width="160" height="125" id="logo" />
				<div class="mt-3 ml-1" id="title-block">
					<h1 class="mb-auto title">Emergency Amateur Radio Club</h1>
					<p class="mb-auto text-muted subtitle">Preparing Hawaii's radio amateurs since 1963</p>
					<p class="mb-auto text-muted subtitle">WH6CZB / KH6CE / WH6DLO / Honolulu, HI, USA / BL11</p>
				</div>
			</div>


			<div class="row" id="content">

				<div class="container">
					{% if messages %}
					{% for message in messages %}
					<div class="alert alert-{{message.tags}}" role="alert">{{message}}</div>
					{% endfor %}
					{% endif %}
					
					
					{% block content %}{% endblock %}
				</div>
			</div>
		</div>
		
		
		<div class="row" id="footer">
			<div class="container">
				<address style="text-align: center">
					<strong>Emergency Amateur Radio Club</strong><br />
					P.O. Box 30315<br />
					Honolulu, HI  96820
				</address>
			</div>
		</div>
		
		
		
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>


	</body>

</html>