{% extends "base.html" %}

{% block browsertitle %}EARC - Reset password{% endblock %}

{% block content %}

<div class="card">
	<div class="card-header">
		<span class="h2 title">Reset password</span>
	</div>
	<div class="card-body">
		<p>Enter your email address associated with your account. You will receive an email with a one-time link to reset your password.</p>

		{% if form.errors %}
		{{form.errors}}
		{% endif %}

		<form method="post" action="{% url 'password_reset' %}">
			{% csrf_token %}
			<table class="table">
				{{ form.as_table }}
			</table>
			<input class="btn btn-primary" type="submit" value="Submit" />
		</form>

	</div>
</div>


{% endblock %}