{% extends "base.html" %}

{% block browsertitle %}EARC - Reset password{% endblock %}

{% block content %}

{% if not validlink %}
<div class="card">
	<div class="card-header">
		<span class="h2 title">Invalid link</span>
	</div>
	<div class="card-body">
		<p>There is a problem with the link you clicked. Check the link that you received to make sure that it is correctly entered in the browser.</p>
	</div>
</div>

	
{% else %}
<div class="card">
	<div class="card-header">
		<span class="h2 title">Reset password</span>
	</div>
	<div class="card-body">
		{% if form.errors %}
		{{form.errors}}
		{% endif %}

		<form method="post">
			{% csrf_token %}
			<table class="table">
				{{ form.as_table }}
			</table>
			<input type="submit" value="Submit" />
		</form>
	</div>
</div>

{% endif %}


{% endblock %}