{% extends "base.html" %}

{% block browsertitle %}EARC - Reset password successful{% endblock %}

{% block content %}

<div class="card">
	<div class="card-header">
		<span class="h2 title">Password successfully reset</span>
	</div>
	<div class="card-body">
		<p>Your password has been successfully reset.</p>
		<p><a class="btn btn-primary" href="{% url 'site_login' %}">Login again</a></p>
		<p><a class="btn btn-secondary" href="{% url 'home_page' %}">Return to home page</a></p>
	</div>

</div>


{% endblock %}