{% extends "base.html" %}

{% block browsertitle %}EARC - Change Password{% endblock %}

{% block content %}

<div class="card">
	<div class="card-header">
		<span class="h2 title">Password Change</span>
	</div>
	<div class="card-body">

		{% if form.errors %}
		{{form.errors}}
		{% endif %}

		<form method="post" action="{% url 'password_change' %}">
			{% csrf_token %}
			<table class="table">
				{{ form.as_table }}
			</table>
			<input type="submit" value="Submit" />
		</form>

	</div>
</div>



{% endblock %}
