{% load static %}
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{% block browsertitle %}{% endblock %}</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
		<link href="{% static 'homepage/base.css' %}" rel="stylesheet">
	</head>
	<body>

		<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
			<a class="navbar-brand" href="{% url "home_page" %}">EARC</a>"
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					
					<li class="nav-item">
						<a class="nav-link {% if request.resolver_match.url_name == 'home_page' %}active{% endif %}"
							href="{% url "home_page" %}">
							Home
						{% if request.resolver_match.url_name == 'home_page' %}<span class="sr-only">(current)</span>{% endif %}</a>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Club Info
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item {% if request.resolver_match.url_name == 'about' %}active{%endif%}" href="{% url 'about' %}">About us {% if request.resolver_match.url_name == 'about' %}<span class="sr-only">(current)</span>{% endif %}</a>
							<a class="dropdown-item {% if request.resolver_match.url_name == 'officers' %}active{%endif%}" href="{% url 'officers' %}">Officers {% if request.resolver_match.url_name == 'officers' %}<span class="sr-only">(current)</span>{% endif %}</a>
							<a class="dropdown-item {% if request.resolver_match.url_name == 'meetings' %}active{%endif%}" href="{% url 'meetings' %}">Meetings {% if request.resolver_match.url_name == 'meetings' %}<span class="sr-only">(current)</span>{% endif %}</a>
							<a class="dropdown-item" href="#">FAQ</a>
							<a class="dropdown-item" href="#">Contact us</a>
						</div>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Membership
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item {% if request.resolver_match.url_name == 'member_new_form' %}active{% endif %}"
								href="{% url 'member_new_form' %}">
								Application form
								{% if request.resolver_match.url_name == 'member_new_form' %}<span class="sr-only">(current)</span>{% endif %}</a>
							<a class="dropdown-item {% if request.resolver_match.url_name == 'member_list' %}active{% endif %}"
								href="{% url 'member_list' %}">
								Member list
								{% if request.resolver_match.url_name == 'member_list' %}<span class="sr-only">(current)</span>{% endif %}</a>
							<a class="dropdown-item" href-"#">Newsletter</a>
						</div>
					</li>
					
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Repeaters
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">Repeaters</a>
							<a class="dropdown-item" {% if request.resolver_match.url_name == 'nets' %}active{% endif %}"
								href="{% url 'nets' %}">
								Nets
								{% if request.resolver_match.url_name == 'nets' %}<span class="sr-only">(current)</span>{% endif %}</a>
							<a class="dropdown-item" href="#">Logbook</a>
						</div>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Events
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item {% if request.resolver_match.url_name == 'events' %}active{% endif %}" 
								href={% url 'events' %}>
								Event list/calendar
								{% if request.resolver_match.url_name == 'events' %}<span class="sr-only">(current)</span>{% endif %}</a>
							<a class="dropdown-item" href="#">Field Day</a>
						</div>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Education
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">Classes</a>
							<a class="dropdown-item" href="#">Licensing exams</a>
						</div>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Special
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<h6 class="dropdown-header">Shopping</h6>
							<a class="dropdown-item" href="#">End-Fed HF Antenna Matchbox</a>
							<a class="dropdown-item" href="#">Swap and Shop Net</a>
							<a class="dropdown-item" href-"#">NH7QH Radio Supplies</a>
							<div class="dropdown-divider"></div>
							<h6 class="dropdown-header">Special pages</h6>							
							<a class="dropdown-item" href="#">NH6WI (SK) Weather Page</a>
							<a class="dropdown-item" href-"#">Antenna Group</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">ARES Info</a>
							<a class="dropdown-item {% if request.resolver_match.url_name == 'links' %}active{% endif %}" 
								href={% url 'links' %}>
								Links
								{% if request.resolver_match.url_name == 'links' %}<span class="sr-only">(current)</span>{% endif %}</a>
						</div>
					</li>
					
					
						{% if user.is_authenticated %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{{ user.member.callsign }}
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item {% if request.resolver_match.url_name == 'member_profile' %}active{% endif %}" href="{% url 'member_profile' user.member.id %}">Member profile {% if request.resolver_match.url_name == 'member_profile' %}<span class="sr-only">(current)</span>{% endif %}</a>
								{% if user.is_staff %}
								<a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
								{% endif %}
								<a class="dropdown-item" href="{% url 'site_logout' %}">Logout</a>
							</div>
						</li>
						{% else %}
						<li class="nav-item">
							<a class="nav-link {% if request.resolver_match.url_name == 'site_login' %}active{% endif %}" href="{% url 'site_login' %}">Login {% if request.resolver_match.url_name == 'site_login' %}<span class="sr-only">(current)</span>{% endif %}</a>
						</li>
						{% endif %}
					</li>

				</ul>
			</div>
		</nav>


		<div class="container">
			<div class="row media" id="header">
				<img class="img-fluid float-lg-left" src="{% static 'images/EARC_160x125.gif' %}" width="160" height="125" id="logo" />
				<div class="mt-3 ml-1" id="title-block">
					<h1 class="mb-auto title">Emergency Amateur Radio Club</h1>
					<p class="mb-auto text-muted subtitle">Preparing Hawaii's radio amateurs since 1964</p>
					<p class="mb-auto text-muted subtitle">WH6CZB / KH6CE / WH6DLO / Honolulu, HI, USA / BL11</p>
				</div>
			</div>


			<div class="row" id="content">

				<div class="container">
					{% if messages %}
					{% for message in messages %}
					<div class="alert alert-{{message.tags}}" role="alert">{{message}}</div>
					{% endfor %}
					{% endif %}
					
					
					{% block content %}{% endblock %}
				</div>
			</div>
		</div>
		
		
		<div class="row" id="footer">
			<div class="container">
				<address style="text-align: center">
					<strong>Emergency Amateur Radio Club</strong><br />
					P.O. Box 30315<br />
					Honolulu, HI  96820
				</address>
			</div>
		</div>
		
		
		
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>


	</body>

</html>